# Virtual environment
.venv/

# Environment variables
.env
backend/.env

# Local DB
db.sqlite3
*.sqlite3
/node_modules

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]

/brakepoint_app/node_modules
backend/traffic_sign.pth
backend/yolov8n.pt
backend/yolov8m.pt
backend/certs
backend/tmp/