.menuContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2;
}

.backButtonContainer {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	align-items: center;
}

.thumbnail {
	width: 100%;
	height: 18em;
	background-color: #ddd;
	border-radius: 32px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.thumbnail > .placeholderText{
	margin: 1em;
	text-align: center;
	color: #555555
}
.thumbnail > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.placeholderText {
	color: #777777;
	font-style: italic;
}