.side-tab {
  position: absolute;
  width: 18rem;
  background-color: #ffffff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 32px;
}

.side-tab-left {
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
}
.side-tab-left.open {
  transform: translateX(0);
}

.side-tab-right {
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
}
.side-tab-right.open {
  transform: translateX(0);
}

.side-tab-top {
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-100%);
}
.side-tab-top.open {
  transform: translateY(0%);
}

.side-tab-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
}
.side-tab-bottom.open {
  transform: translateY(0%);
}

.side-tab-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.side-tab.main-invisible {
  background-color: #00000000;
  box-shadow: none;
  padding: 32px 32px 0 32px;
  pointer-events: none;
}

.side-tab-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: ew-resize;
  background: transparent;
  z-index: 10001;
  transition: background 0.2s ease;
}

.side-tab-resizer:hover {
  background: rgba(0, 0, 0, 0.05);
}

.side-tab-resizer-left {
  right: 0;
}

.side-tab-resizer-right {
  left: 0;
}